# common side
/.cache/
/.vscode/
/backups/
/caxton_cache/
/caxton_impl.dll
/CMI_alpha_dev_vers-natives/
/CMI_alpha_dev_vers.jar
/CMI_alpha_dev_vers.json
/crash-reports/
/defaultconfigs/
/hmclversion.cfg
/local/
/logs/
/modernfix/
/mods/
/options.txt
/patchouli_books/
/patchouli_data.json
/PCL/
/rhino.local.properties
/schematics/
/shaderpacks/
/usercache.json
/usernamecache.json
/saves/新的世界/
/temp
/screenshots
/CodeNameCIM2.jar
/CodeNameCIM2.json
/CIM2 Dev.jar
/CIM2 Dev.json
/CIM2 Dev-natives/
/saves/Debug/
# config
config/ae2/
config/appleskin-client.toml
config/balm-common.toml
config/betterfpsdist.json
config/caxton.json
config/cofh_core-client.toml
config/cofh_core-common.toml
config/cookingforblockheads-common.toml
config/copycats-client.toml
config/copycats-common.toml
config/craftingtweaks-common.toml
config/create-client.toml
config/create-common.toml
config/create-stuff-additions.toml
createaddition-common.toml
config/createcasing-common.toml
config/createdieselgenerators-client.toml
config/create_central_kitchen-common.toml
config/create_connected-common.toml
config/create_jetpack-client.toml
config/create_jetpack-common.toml
config/ctm.toml
config/cupboard.json
config/curios-client.toml
config/curios-common.toml
de/
config/dynamic_fps.json
config/embeddium-fingerprint.json
config/embeddium-mixins.properties
config/embeddium-options.json
config/everycomp-common.toml
config/everycomp-entries.toml
config/everycomp-hazardous.properties
config/farmersdelight-client.toml
config/farmersdelight-common.toml
config/ferritecore-mixin.toml
config/flywheel-client.toml
config/forge-client.toml
config/ftbbackups2.json
config/ftbxmodcompat.snbt
config/functionalstorage/
config/imblocker-client.toml
config/immersiveengineering-common.toml
config/inventoryprofilesnext
config/invtweaks-client.toml
config/jecharacters.toml
config/konkrete/
config/mantle-client.toml
config/Mekanism/
config/modelfix-client.toml
config/modernfix-common.toml
config/moonlight-client.toml
config/moonlight-common.toml
config/oculus.properties
config/patchouli-client.toml
config/PickUpTorchesConfig.json
config/polymorph-integrations.toml
config/railways-client.toml
config/railways-common.toml
config/refinedstorage-client.toml
config/RuOK.toml
config/sidebar_buttons.json
config/skinlayers.json
config/sneaky_link-common.toml
config/sodium-extra-options.json
config/sodium-extra.properties
config/storagedrawers-client.toml
config/storagedrawers-common.toml
config/tconjei-client.toml
config/tconstruct-client.toml
config/tconstruct-common.toml
config/terrablender.toml
config/thermal-client.toml
config/thermal-common.toml
config/titanium/
config/vintageimprovements-client.toml
config/vintageimprovements-common.toml
config/smoothboot.json
config/fmi.toml

#resourcepacks
/resourcepacks/*
!/resourcepacks/NewAE2.zip
!/resourcepacks/中微子的多用途汉化材质包.zip