# Common
/.cache/
/.vscode/
/backups/
/caxton*
/.idea
/CMI_*.jar
/CMI_*.json
/crash-reports/
/defaultconfigs/
/hmclversion.cfg
/local/
/logs/
/modernfix/
/mods/
/options.txt
/patchouli_books/
/patchouli_data.json
/PCL/
/xaero
/rhino.local.properties
schematics/uploaded/
/usercache.json
/usernamecache.json
/saves/新的世界/
/temp/
/screenshots
/CodeNameCIM2.jar
/CodeNameCIM2.json
/CIM2 Dev.jar
/CIM2 Dev.json
/CIM2 Dev-natives/
/saves/Debug/
/.idea
/server.dat
# *.zip
fancymenu_data
saves/*/session.lock
/schematics
hs_err*
fabric*
/icon-exports-*
ESM
XaeroWaypoints*

# ResourcePacks
/resourcepacks/*
!/resourcepacks/New AE2
!/resourcepacks/中微子的多用途汉化材质包
!/resourcepacks/等距更纱字体包
!/resourcepacks/Maple Mono字体包
!/resourcepacks/PvZ2 Regular字体包
!/resourcepacks/Pretty X Smart Pipez
!/resourcepacks/CreateSophisticatedBackpacks
!/resourcepacks/矿石发光
!/resourcepacks/彩色边框

# ShaderPacks
/shaderpacks/*

# ProbeDocs
/kubejs/probe/*
!/kubejs/probe/docs/

# Saves
/saves/*
!/saves/Debug
!/saves/QBWT*
!/saves/Quest_Background*

# Config
/config/*
!/config/openloader
!/config/blockswap
!/config/almostunified/
!/config/drippyloadingscreen/
!/config/fancymenu/
!/config/ftbquests/
!/config/jade/
!/config/jei/
!/config/cmi*
!/config/immersiveengineering-client.toml
!/config/ad_astra.jsonc
!/config/fml.toml
!/config/portality
!/config/scannable*
!/config/carryon-common.toml
!/config/cookingforblockheads-common.toml
!/config/capsule-common.toml
!/config/nolijium.json5
!/config/Mekanism/
!/config/ding.toml
!/config/supplementaries-common.toml
!/config/jeiintegration-client.toml
!/config/starterstructure*